---
# layout: compress
---
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

        {% seo %}
    </head>

    <body style="background-color: rgb(255, 255, 255)">
        <script async src="{{site.baseurl}}/assets/js/theme.min.js"></script>
        <header>
            <a href="{{site.baseurl}}/">
                <div class="home"></div>
            </a>
        </header>

        <main>
            <article>
                {{ content }}
            </article>
        </main>

        <footer>
            <div class="links">
                <a href="https://github.com/acikkaynak/acikkaynak-website/issues/79">Daha fazla</a>
                <a href="https://t.me/acikkaynak">Telegram</a>
                <a class="theme" onclick="theme()">Görünümü değiştir</a>
            </div>
            <p class="copy">
                <small>
                  (c) 2020 {{site.title}},
                  (c) 2016 <a href="http://webjeda.com">webjeda</a>
                </small>
            </p>
        </footer>
        {% include analytics.html %}
    </body>

</html>
